<main class="w-screen h-screen flex">
  <table
    *ngIf="units$ | async as units"
    class="table-auto h-64 border m-8 p-2 text-xs"
  >
    <thead>
      <tr class="">
        <th class="border p-2">Id</th>
        <th class="border p-2">Type</th>
        <th class="border p-2">Name</th>
        <th class="border p-2">Position</th>
        <th class="border p-2">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units" class="border">
        <th class="border p-2">{{ unit.id }}</th>
        <th class="border p-2">{{ unit.type }}</th>
        <th class="border p-2">{{ unit.name ? unit.name : unit.fio }}</th>
        <th class="border p-2">
          {{ unit.position[0] }} : {{ unit.position[1] }}
        </th>
        <th class="border p-2">{{ unit.timestamp | date : 'medium' }}</th>
      </tr>
    </tbody>
  </table>

  <div id="ol-map" class="w-full h-full"></div>
</main>
